{% extends 'base.html' %}

{% block title %}Contact {{company_name}}{% endblock %}

{% block content %}
<div class="main-content">
    <!--Form-->
    <div class="row mt-3">
        <div class="col-lg-6 col-md-8 col-sm-12 border border-info">
            <form action="https://myhost.com/action" method="POST">
                <div class="mb-3">
                    <label for="fname" class="form-label">First Name</label><br>
                    <input type="text" name="fname" placeholder="First Name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="lname" class="form-label">Last Name</label>
                    <input type="text" name="lname" placeholder="Last Name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label><br>
                    <input type="email" name="email" placeholder="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="fname" class="form-label">Message</label>
                    <textarea name="message" rows="5" cols="80" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <input type="button" value="Submit" class="button" id="contactbutton" class="form-control">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}